<% module_namespacing do -%>
class <%= class_name %>Subscriber < ApplicationSubscriber
  # def action(event)
  #   payload = event.payload
  # end

  attach_to :"<%= class_name.underscore %>"
end
<% end -%>
